.wrapper
  = render "header"

.container
  .row
    .col-md-6.jasgrid
      .box-item
        .box-post
          %span.label.label-success
            %a{:href => "https://www.walkerplus.com/article_list/ar0600/", :rel => "tag"} 東海ウォーカー
          %h1.post-title
            %a{:href => "https://www.walkerplus.com/article/1004000/"}
              この夏食べたい！愛知の最新おすすめパフェ5選
          %span.meta
            %span
              %i.glyphicon.glyphicon-comment
              %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
            %span
              %i.glyphicon.glyphicon-time
              Jul 16, 2020
        %img{:alt => "この夏食べたい！愛知の最新おすすめパフェ5選", :src => "https://news.walkerplus.com/article/1004000/10027977_615.jpg"}/
      .box-item
        .box-post
          %span.label.label-success
            %a{:href => "#", :rel => "tag"} 東京ディズニーリゾート・ブログ
          %h1.post-title
            %a{:href => "https://www.tokyodisneyresort.jp/tdrblog/detail/200415/"}
              東京ディズニーリゾートは今日で37周年！
          %span.meta
            %span
              %i.glyphicon.glyphicon-comment
              %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
            %span
              %i.glyphicon.glyphicon-time
              Apr 15, 2020
        %img{:alt => "東京ディズニーリゾートは今日で37周年！", :src => "https://media1.tokyodisneyresort.jp/images/adventure/blog/img200415_1.jpg"}/
      .box-item
        .box-post
          %span.label.label-success
            %a{:href => "https://retty.news/", :rel => "tag"} Retty
          %h1.post-title
            %a{:href => "https://retty.news/35884/"}
              "おいしい"のコツは「蒸らす」こと！脱サラして始めたこだわりのとんかつ屋「成満堂」
          %span.meta
            %span
              %i.glyphicon.glyphicon-comment
              %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
            %span
              %i.glyphicon.glyphicon-time
              Aug 1, 2019
        %img{:alt => "おいしいのコツは「蒸らす」こと！脱サラして始めたこだわりのとんかつ屋「成満堂」", :src => "https://ximg.retty.me/resize/s1328x1328/-/retty_news/articles/20190724054741-49mxc.jpg"}/
      -# .box-item
      -#   .box-post
      -#     %span.label.label-success
      -#       %a{:href => "#", :rel => "tag"} Travel
      -#     %h1.post-title
      -#       %a{:href => "#"}
      -#         The ‘sky pool’ is just the start: London prepares for a flood of bathing oligarchs
      -#     %span.meta
      -#       %span
      -#         %i.glyphicon.glyphicon-comment
      -#         %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
      -#       %span
      -#         %i.glyphicon.glyphicon-time
      -#         Sep 15, 2015
      -#   %img{:alt => "The ‘sky pool’ is just the start: London prepares for a flood of bathing oligarchs", :src => "https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/8/20/1440084421494/658509dc-71ec-4329-a44a-65a8968f31eb-2060x1236.jpeg?w=700&q=85&auto=format&sharp=10&s=95d11c21789512a206c58f6e09161c3b"}/
      -# .box-item
      -#   .box-post
      -#     %span.label.label-success
      -#       %a{:href => "#", :rel => "tag"} Travel
      -#     %h1.post-title
      -#       %a{:href => "#"}
      -#         Carbuncle Cup: Walkie Talkie wins prize for worst building of the year
      -#     %span.meta
      -#       %span
      -#         %i.glyphicon.glyphicon-comment
      -#         %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
      -#       %span
      -#         %i.glyphicon.glyphicon-time
      -#         Sep 15, 2015
      -#   %img{:alt => "Carbuncle Cup: Walkie Talkie wins prize for worst building of the year", :src => "https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/9/1/1441111760813/babad85b-8749-43dd-8b0a-dda57f7de279-2060x1236.jpeg?w=700&q=85&auto=format&sharp=10&s=943b47a6776b1ecbfb4c6db7d8932d45"}/
    .col-md-6.jasgrid
      .box-item
        .box-post
          %span.label.label-success
            %a{:href => "https://www.nagashima-onsen.co.jp/nabana/index.html", :rel => "tag"} なばなの里
          %h1.post-title
            %a{:href => "https://www.nagashima-onsen.co.jp/nabana/info/SUMMERILLUMINATION.html"}
              初開催：なばなの里 “サマーイルミネーション” 夜を彩る「天の川」
          %span.meta
            %span
              %i.glyphicon.glyphicon-comment
              %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
            %span
              %i.glyphicon.glyphicon-time
              Aug 6, 2020
        %img{:alt => "'初開催：なばなの里 “サマーイルミネーション” 夜を彩る「天の川」", :src => "https://www.nagashima-onsen.co.jp/nabana/wp-content/uploads/sites/6/2020/07/2512bc8e05a9cf1781f534473dc3d4d3.jpg"}/
      .box-item
        .box-post
          %span.label.label-success
            %a{:href => "https://www.jalan.net/news/", :rel => "tag"} じゃらんニュース
          %h1.post-title
            %a{:href => "https://www.jalan.net/news/article/422327/"}
              マリオになれる？USJ「任天堂」エリアの詳細を発表！スマホと連動、新時代のテーマパーク体験！
          %span.meta
            %span
              %i.glyphicon.glyphicon-comment
              %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
            %span
              %i.glyphicon.glyphicon-time
              Jan 17, 2020
        %img{:alt => "マリオになれる？USJ「任天堂」エリアの詳細を発表！スマホと連動、新時代のテーマパーク体験！", :src => "https://www.fashion-press.net/img/news/27499/9dw.jpg"}/
      .box-item
        .box-post
          %span.label.label-success
            %a{:href => "https://tripnote.jp/", :rel => "tag"} トリップノート
          %h1.post-title
            %a{:href => "https://tripnote.jp/article/first-trip-osusume"}
              初めての海外旅行におすすめ！海外初心者に人気の国・都市11選
          %span.meta
            %span
              %i.glyphicon.glyphicon-comment
              %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
            %span
              %i.glyphicon.glyphicon-time
              May 13, 2019
        %img{:alt => "初めての海外旅行におすすめ！海外初心者に人気の国・都市11選", :src => "https://tripnote.imgix.net/post/article/1414/141311-5XEpZ0suQXqzJaWHt72M_lrg.jpg?w=768&h=474&fit=crop"}/
      -# .box-item
      -#   .box-post
      -#     %span.label.label-success
      -#       %a{:href => "#", :rel => "tag"} Travel
      -#     %h1.post-title
      -#       %a{:href => "#"}
      -#         Sailing off Iceland … is no holiday
      -#     %span.meta
      -#       %span
      -#         %i.glyphicon.glyphicon-comment
      -#         %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
      -#       %span
      -#         %i.glyphicon.glyphicon-time
      -#         Sep 15, 2015
      -#   %img{:alt => "Sailing off Iceland is no holiday", :src => "https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2015/9/10/1441897683067/cbd64c76-4d4b-4fdc-b21e-09ee8c61fe84-2060x1371.jpeg?w=620&q=85&auto=format&sharp=10&s=902f73c53527356ce69674be7218a12b"}/
      -# .box-item
      -#   .box-post
      -#     %span.label.label-success
      -#       %a{:href => "#", :rel => "tag"} Travel
      -#     %h1.post-title
      -#       %a{:href => "#"}
      -#         Online Gothenburg: tech travel tips
      -#     %span.meta
      -#       %span
      -#         %i.glyphicon.glyphicon-comment
      -#         %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
      -#       %span
      -#         %i.glyphicon.glyphicon-time
      -#         Sep 15, 2015
      -#   %img{:alt => "Online Gothenburg: tech travel tips", :src => "https://i.guim.co.uk/img/media/45532d8551c9033d4bc18abf7adfc5ee29405fff/0_928_3220_1932/master/3220.jpg?w=700&q=85&auto=format&sharp=10&s=776a7ea32d0c2df42d8470d4cc210bfe"}/
      -# .box-item
      -#   .box-post
      -#     %span.label.label-success
      -#       %a{:href => "#", :rel => "tag"} Travel
      -#     %h1.post-title
      -#       %a{:href => "#"}
      -#         Online Gothenburg: tech travel tips
      -#     %span.meta
      -#       %span
      -#         %i.glyphicon.glyphicon-comment
      -#         %a{:href => "http://wordpress.thebebel.com/showcase/newsbook/2015/01/19/meet-asias-best-destinations-for-the-summer/#respond"} No Comments
      -#       %span
      -#         %i.glyphicon.glyphicon-time
      -#         Sep 15, 2015
      -#   %img{:alt => "Explore Lyon: essential travel apps and tips", :src => "https://i.guim.co.uk/img/media/5563b9b5cd87bab2e9c9279a8f0c7268b69471bc/0_172_5616_3368/master/5616.jpg?w=700&q=85&auto=format&sharp=10&s=7a9664aabfe4b691120166f61759ba68"}/
