.wrapper
  = render "header"

.balloon5
  .faceicon
    %img{:alt => "navigator", :src => "https://3.bp.blogspot.com/-zYuktPv0JNI/Wp94GJY-9EI/AAAAAAABKqs/ZebVBqj3y2k5-dELWHhZbtQAbYvmbG8DACLcBGAs/s400/kid_job_boy_teacher.png"}/
  .chatting
    .says
      %p あなたの予定をナビします！
.quiz_area
  .quiz_set
    -# %p.quiz_no
    .quiz_question
    .quiz_ans_area
      %ul
    .quiz_area_bg
    .quiz_area_icon
  .quiz_result